doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Nailbox - Setup
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous")
		style(type="text/css").
	body
		.container
			#status.jumbotron
				h1 Nailbox
				hr
				h2 The world's 2nd best e-mail client
				p.
					Nailbox is inspired by the world's best e-mail client,
					#[a(href="https://www.mailboxapp.com/") Mailbox].
			.alert.alert-danger(role="alert").
				Nailbox is pre-Beta software and is <strong><s>probably</s> definitely full of bugs</strong>.
			if errorMessage
				.alert.alert-danger(role="alert")= errorMessage
			if successMessage
				.alert.alert-success(role="alert")= successMessage
			h1 What's the worst that could happen?
			ul
				li There's a bug in the program and it ends up deleting all your mail permanently.
				li There's a bug in the program and it starts forwarding all your e-mails to everyone on your contact list.
				li There's a bug in the program and it overwrites all the files on your computer with animated cat gifs.
				li The program isn't as secure as gmail itself and now everybody in the world can read your e-mails by hacking in via the backdoor created by this program.
				li A funny little man might take away your first-born son unless you can guess his name.
			h1 I still want to try it out anyway!
			p Configure a Google OAuth Web Application credential so Nailbox can refresh Gmail tokens server-side.
			form(method="POST" action="/setup")
				ol
					li.
						Head over to
						<a href="https://console.developers.google.com/">https://console.developers.google.com/</a>
						and create or open a project for Nailbox.
					li Go to the "Credentials" panel and create an "OAuth client ID".
					li Select "Web application" as the application type.
					li If there is an "Authorized JavaScript origin", remove it.
					li
						| Add this exact redirect URI under "Authorized redirect URIs":
						|  
						code#redirect-uri= defaultRedirectUri
					li Copy the Client ID here:
						input.form-control(name="clientId" placeholder="ClientID-blah-blah-blah.apps.googleusercontent.com" value=googleOAuth.clientId || '')
					li Copy the Client Secret here:
						input.form-control(name="clientSecret" placeholder="GOCSPX-..." value=googleOAuth.clientSecret || '')
					li Confirm or override the redirect URI here:
						input.form-control(name="redirectUri" placeholder=defaultRedirectUri value=googleOAuth.redirectUri || defaultRedirectUri)
					li Save the configuration in the Google console.
					li Wait 5 minutes for the updates to propagate.
					li Click this button to save the configuration here.
						button.btn.btn-default(type="submit") Save
					li Complete the Google connect flow:
						if authStatus.connected
							a.btn.btn-success(href="/auth/google/start") Reconnect Gmail
						else
							a.btn.btn-primary(href="/auth/google/start") Connect Gmail
			if authStatus.connected
				.panel.panel-success
					.panel-heading Connected Account
					.panel-body
						p
							strong Gmail Account:
							|  #{authStatus.emailAddress || 'Connected'}
						form(method="POST" action="/auth/google/disconnect")
							button.btn.btn-warning(type="submit") Disconnect Gmail
			else
				.panel.panel-default
					.panel-heading Connection Status
					.panel-body
						p Gmail is not connected yet.
			p Return to the <a href="/">main page</a> after Gmail is connected.
			h2 Why's it called Nailbox?
			p Nobody knows for sure. There are several origin myths:
			ul
				li Second place comes after first place, and N comes after M.
				li Nailbox is implemented in Node.js, so take the letter N from Node.js and shove it in front of Mailbox to get Nailbox.
				li Nailbox was implemented by Nebu, so take the letter N from Nebu and shove it in front of Mailbox to get Nailbox.
			p.
				Legend also has it that there was an Rails implementation called
				"Railbox" or "Railsbox" or something like that, but was abandoned
				because the name wasn't as catchy and OAuth was significantly harder
				to get right in Ruby.

		script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
		script(type='text/javascript').
			$(function() {
				var origin = window.location.origin;
				var redirectUri = origin + '/auth/google/callback';
				$('#host').text(origin);
				$('#redirect-uri').text(redirectUri);
			});
